:root {
  --overairPink: #EC008C;
  --overairGrey: #474747;
  --overairBlack: #000000;
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fontColour {
  color: var(--overairPink);
}
.fontWhite {
  color: #fff;
}
.fontBlack {
  color: var(--overairBlack);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: rgb(27, 27, 27);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 25px;
  flex-wrap: wrap;
}
nav .logoImage {
  height: 35%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  height: 35%;
  color: rgb(250, 249, 246) !important;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active {
  color: var(--overairPink);
}
nav ul li a:hover {
  color: var(--overairPink) !important;
}
nav .menu-btn i {
  color: rgb(250, 249, 246);
  font-size: 22px;
  cursor: pointer;
  display: none;
  transition: 0.3s ease;
}
nav .menu-btn i:hover {
  color: var(--overairPink);
  transition: 0.3s ease;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  html {
    font-size: 12px;
  }
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav {
    background: rgb(27, 27, 27);
    width: 100%;
    left: -100%;
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    /* background: rgba(17, 17, 17, 0.8); */
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active, nav ul li a:hover {
    background: none;
    color: var(--overairPink) !important;
  }
  nav .logoImage {
    height: 25%;
  }
  .bg {
    height: 75vh !important;
  }
  .headerDown {
    padding-top: 2.5rem;
  }
  .test {
    padding-bottom: 2.5rem;
  }
  .mainContentL h1 p {
    width: 100%;
  }
}
.flex {
  display: flex;
  align-content: center;
  justify-content: center;
}
.btn {
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 250px;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.btn .btnspan {
  color: rgb(250, 249, 246);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.btn:hover {
  color: black !important;
  background-color: rgb(250, 249, 246);
  animation: btnrotate 0.7s ease-in-out both;
}
.btn:hover .btnspan {
  color: black;
  animation: btnstorm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
@keyframes btnrotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes btnstorm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.iconPreset {
  color: #fff;
  margin: auto auto;
}
.iconUp {
  position: relative;
  bottom: 3.5rem;
  color: var(--overairPink) !important;
  /*border-bottom: 1px solid white;*/
}
.bg {
  padding-block: 15rem;
  margin-block-end: 0;
  background-image: url("../Images/background.png");
  background-position: center;
  background-size: cover;
}
.subHeader1 {
  padding-block: 3rem;
  margin-block-end: 0;
  background-image: url("../bgTextures/Untitled design (2).png");
  background-position: center;
  background-size: cover;
}
/* Main Content Page */
.mainPageTopper {
  height: 100px;
  width: 100vw;
  background-color: var(--overairGrey);
}
/* Main Content Page */

.section-container {
  background-color: var(--overairGrey);
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}
.section-container .columns {
  flex: 0 0 auto;
  width: 50%;
}
.section-container .columns.image {
  background-position: center;
  background-repeat: no-repeat;
}
.section-container .columns.content .content-container {
  padding: 40px 50px;
}
.section-container .columns.content .content-container h1 {
  font-weight: 1000;
  font-size: 30px;
}
.section-container .columns.content .content-container .android {
  border-bottom: 3px solid rgb(46, 223, 132);
  border-radius: 5px;
}
.section-container .columns.content .content-container .apple {
  border-bottom: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
}
.section-container .columns.content .content-container .web {
  border-bottom: 3px solid rgb(235, 89, 40);
  border-radius: 5px;
}
.section-container .columns.content .content-container p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  margin-bottom: 15px;
  text-align: justify;
}
@media screen and (max-width:767px) {
  .section-container {
    flex-flow: row wrap;
  }
  .section-container .columns.image {
    display: block;
    order: 2;
    width: 100%;
    height: 250px;
  }
  .section-container .columns.content {
    display: block;
    order: 1;
    width: 100%;
  }
  .section-container .columns.content .content-container {
    padding: 20px 35px;
  }
  .section-container .columns.content .content-container h1 {
    margin-bottom: 5px;
  }
}