@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --overairPink: #ec008c;
  --overairGrey: #474747;
  --overairBlack: #000000;
}
@font-face {
  font-family: "Roboto", sans-serif;
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
p {
  line-height: 25px;
}
.fontColour {
  color: var(--overairPink);
}
.fontWhite {
  color: #fff;
}
.fontBlack {
  color: var(--overairBlack);
}
a {
  text-decoration: none !important;
  color: #fff !important;
}
.h1Diff {
  font-size: 55px;
  font-weight: 750;
}
.h2Diff {
  font-size: 40px;
  font-weight: 45;
}
li {
  list-style: none;
}
.headerImage {
  height: 200px;
}
/* Navbar */
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: rgb(27, 27, 27);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 25px;
  flex-wrap: wrap;
}
nav .logoImage {
  height: 75%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
ul li {
  margin: 0.5rem;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  height: 35%;
  color: rgb(250, 249, 246) !important;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active {
  color: var(--overairPink);
}
nav ul li a:hover {
  color: var(--overairPink) !important;
}
nav .menu-btn i {
  color: rgb(250, 249, 246);
  font-size: 22px;
  cursor: pointer;
  display: none;
  transition: 0.3s ease;
}
nav .menu-btn i:hover {
  color: var(--overairPink);
  transition: 0.3s ease;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  html {
    font-size: 12px;
  }
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav {
    background: rgb(27, 27, 27);
    width: 100%;
    left: -100%;
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active, nav ul li a:hover {
    background: none;
    color: var(--overairPink) !important;
  }
  nav .logoImage {
    height: 55%;
  }
  .bg {
    height: 75vh !important;
  }
  .headerDown {
    padding-top: 2.5rem;
  }
  .mainContentL h1 p {
    width: 100%;
  }
  .h1Diff {
    font-size: 55px;
    font-weight: 750;
  }
  .h2Diff {
    font-weight: 500;
    font-size: 25px;
  }
}
/* Navbar */
.flex {
  display: flex;
  align-content: center;
  justify-content: center;
}
.btn {
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 250px;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.btn .btnspan {
  color: rgb(250, 249, 246);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.btn:hover {
  color: black !important;
  background-color: var(--overairPink);
  animation: btnrotate 0.7s ease-in-out both;
}
.btn:hover .btnspan {
  color: #fff;
  animation: btnstorm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
.btn2 {
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--overairGrey);
  height: 45px;
  width: 100%;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 1);
}
.btn2 .btnspan2 {
  color: rgb(250, 249, 246);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.btn2:hover {
  color: black !important;
  background-color: var(--overairPink);
  animation: btnrotate 0.7s ease-in-out both;
}
.btn2:hover .btnspan2 {
  color: #fff;
  animation: btnstorm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
@keyframes btnrotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes btnstorm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.iconPreset {
  color: #fff;
  margin: auto auto;
}
.iconUp {
  position: relative;
  bottom: 2rem;
  color: var(--overairPink) !important;
}
.arrow {
  animation: bounce 2s infinite ease-in;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.bg {
  padding-block: 15rem;
  margin-block-end: 0;
  background-image: linear-gradient(135deg, rgba(229, 106, 179, 0.3) 0%, rgba(239, 135, 190, 0.3) 25%, rgba(249, 163, 203, 0.3) 50%, rgba(252, 188, 215, 0.3) 75%, rgba(229, 106, 179, 0.3) 100%),url("../Images/bg2.jpg");
  background-position: center;
  background-size: cover;
}
/* Main Content Page */

.subHeader1 {
  padding-block: 2rem;
  margin-block-end: 0;
  background-color: var(--overairGrey);
  background-image: url("../bgTextures/Dot Grid.svg");
  background-position: center;
  /*background-size: cover;*/
}
.mainPageTopper {
  height: 50px;
  width: 100vw;
  background-color: #FAF9F6FF;
}
.mainPageTopper2 {
  height: 25px;
  width: 100vw;
  background-color: var(--overairGrey);
}
.us {
  padding-block: 8rem;
  margin-block-end: 0;
  background-color: var(--overairGrey);
}
.section-container {
  background-color: var(--overairGrey);
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}
.section-container .columns {
  flex: 0 0 auto;
  width: 50%;
}
.section-container .columns.image {
  background-position: center;
  background-repeat: no-repeat;
}
.section-container .columns.content .content-container {
  padding: 40px 50px;
}
.section-container .columns.content .content-container h1 {
  font-weight: 1800;
  font-size: 38px;
}
.section-container .columns.content .content-container h2 {
  font-weight: 1000;
}
.section-container .columns.content .content-container .android {
  border-bottom: 3px solid var(--overairPink);
  border-radius: 5px;
  transform-origin: right;
}
.section-container .columns.content .content-container .apple {
  border-bottom: 3px solid #666666;
  border-radius: 5px;
  transform-origin: left;
}
.section-container .columns.content .overairD {
  border-bottom: 3px solid var(--overairPink);
  border-radius: 5px;
}
.section-container .columns.content .content-container p {
  font-weight: 550;
  margin-bottom: 7px;
  font-size: 17px;
}
@media screen and (max-width:767px) {
  .section-container {
    flex-flow: row wrap;
  }
  .section-container .columns.image {
    display: block;
    order: 2;
    width: 100%;
    height: 375px;
  }
  .section-container .columns.content {
    display: block;
    order: 1;
    width: 100%;
  }
  .section-container .columns.content .content-container {
    padding: 20px 35px;
  }
  .section-container .columns.content .content-container h1 {
    margin-bottom: 5px;
  }
  .section-container .columns.content .content-container h2 {
    font-size: 28px;
    font-weight: 800;
  }
  .section-container .columns.content .content-container h2 p {
    justify-content: center;
    align-content: center;
  }
}
#floatDoodle {
  animation: twist 5s alternate ease-in-out infinite;
}
@keyframes twist {
  from {
    transform: rotate(6deg);
  }
  to {
    transform: rotate(-6deg);
  }
}
#meditateDoodle {
  animation: levitate 2s alternate ease-in-out infinite;
}
@keyframes levitate {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(-15px);
  }
}
/* Main Content Page */
input[type=text], input[type=email] {
  color: #fff;
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 20px 2px;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 100px 100px 80px rgba(0, 0, 0, 0.07);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--overairPink) !important;
  /*background-color: #FAF9F6FF;*/
  background-color: var(--overairGrey);
}
::placeholder {
  color: #fff;
}
textarea {
  color: #fff;
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 20px 2px;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 100px 100px 80px rgba(0, 0, 0, 0.07);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--overairPink) !important;
  /*background-color: #FAF9F6FF;*/
  background-color: var(--overairGrey);
  resize: both;
  overflow: auto;
}
.form-control {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.footerr {
  background-color: var(--overairGrey);
  height: 75px;
  width: 100vw;
}
.pricing {
  padding-block: 8rem;
  margin-block-end: 0;
  background-color: #FAF9F6FF;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: 250px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}
.card__body {
  font-size: 18px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}
.tag {
  align-self: center;
  width: 100%;
  height: 25px;
  border-radius: 8px;
  font-weight: 1000;
  font-size: 35px;
}
.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}
.gradientText {
  font-size: 50px;
  font-weight: 600;
  outline: none;
  text-transform: uppercase;
  background: linear-gradient(135deg, var(--overairPink) 0%, #E899DC 25%, #D387AB 74%, var(--overairPink) 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: backgroundGrad 40s linear infinite;
}
@keyframes backgroundGrad {
  to {
    background-position: 400%;
  }
}