:root {
  --overairPink: #EC008C;
  --overairGrey: #474747;
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logoImage {
  width: 15%;
  height: 15%;
  margin: 4px 4px;
  padding: 4px 4px;
}
.fontColour {
  color: var(--overairPink);
}
.fontWhite {
  color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
}
.nav-links a {
  color: #fff !important;
  transition: 0.3s ease-in-out;
}
.nav-links a:hover {
  color: var(--overairPink) !important;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}
.nav-links a:active {
  color: #fff !important;
  text-decoration: none;
}
.bg {
  background-image: url("../Images/pexels-soumil-kumar-735911.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 85vh;
}
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
.menu li {
  padding: 5px 14px;
}
input[type=checkbox]{
  display: none;
}
.hamburger {
  display: none;
  font-size: 35px;
  user-select: none;
  cursor: pointer;
  color: var(--overairPink);
  transition: 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .logoImage {
    width: 30%;
    height: 30%;
  }
  .bg {
    width: 100vw;
    height: 100vh;
  }
}
.headerTxt {
  padding-top: 10%;
}