<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Overair Digital</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OADigitalWebsite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Overair Digital - Bespoke App and Web Development">
    <!--<link rel="cononical" href="https://devs.overair.co.uk">-->
    
    <!-- Icon -->
    <link rel="apple-touch-icon" sizes="76x76" href="Icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Icon/favicon-16x16.png">
    <link rel="manifest" href="Icon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <!-- Icon -->
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Font Awesome -->
    
</head>
<body>
<header>
    <nav>
        <img class="logoImage" src="Images/Overair-DIGITAL-logo-2(2).svg" alt="Overair Digital Logo"/>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><span class="iconPreset"><i class="fa-solid fa-house"></i></span><a class="active" asp-action="Index" asp-controller="Home">Home</a></li>
            <li><span class="iconPreset"><i class="fa-solid fa-globe"></i></span><a href="https://overair.co.uk" target="_blank">Overair</a></li>
        </ul>
    </nav>
</header>
<main role="main">
    @RenderBody()
</main>
<!--
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - OADigitalWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
