@{
    ViewData["Title"] = "";
}

<div class="content">
    <div class="text-center fontWhite">
        <h1>Get it, because you can.</h1>
        <h2>Websites or apps, all available to aquire in one location!</h2>
        <h3>Overair Digital</h3>
        <a href="/">
          <button class="btn">
            <span class="btnspan">Button</span>
          </button>
        </a>
    </div>
</div>

