@{
    ViewData["Title"] = "";
}
<html lang="en">
<head>
    <title>#</title>
</head>

<body>
<div class="bg">
    <div class="fontWhite text-center">
        <h2 class="h2Diff">Websites or apps, all available to aquire in one location!</h2>
        <h1 class="h1Diff">Get it, because you can.</h1>
        <br/>
        <div class="flex">
            <a href="#userBook">
                <button class="btn">
                    <span class="btnspan">Get In Touch</span>
                </button>
            </a>
        </div>
    </div>
</div>

<div class="subHeader1">
    <div class="text-center fontWhite">
        <h1 class="headerDown">What can we offer you?</h1>
        <h2>To be honest with you, anything which involves apps or websites.</h2>
        <h3>We can do without a problem.</h3>
    </div>
</div>

<div class="mainPageTopper">
    <div class="text-center iconUp arrow">
        <span><i class="fa-solid fa-arrow-down fa-10x"></i></span>
    </div>
</div>

<div class="section-container fontWhite">
    <div class="columns content">
        <div class="content-container" style="background-image:url('bgTextures/Dot Grid.svg'); background-repeat: no-repeat;">
            <h1><span><i class="fa-brands fa-apple" style="padding-right: 0.5rem;"></i></span>Apple Apps</h1>
            <div class="apple"></div>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
        </div>
    </div>
    <div class="columns image" id="floatDoodle" style="background-image:url('bgTextures/FloatDoodle.svg')">
    </div>
</div>

<div class="section-container  fontBlack" style="background-color: #FAF9F6FF;">
    <div class="columns image" id="icecreamDoodle" style="background-image:url('bgTextures/IceCreamDoodle.svg');">
    </div>
    <div class="columns content">
        <div class="content-container">
            <h1><span><i class="fa-brands fa-android" style="color: rgb(46, 223, 132); padding-right: 0.5rem; position: relative; top: 5px;"></i></span>Android Apps</h1>
            <div class="android"></div>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
        </div>
    </div>
</div>

<div class="section-container fontWhite">
    <div class="columns content">
        <div class="content-container" style="background-image:url('bgTextures/Dot Grid.svg'); background-repeat: no-repeat; ">
            <h1><span><i class="fa-brands fa-html5" style="color: rgb(235, 89, 40); padding-right: 0.5rem;"></i></span>Websites</h1>
            <div class="web"></div>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
        </div>
    </div>
    <div class="columns image" id="meditateDoodle" style="background-image:url('bgTextures/MeditatingDoodle.svg')" alt="Women Meditating doodle">
    </div>
</div>

<div class="pricing">
    
</div>

<div class="section-container fontWhite" style="background-color: /*#FAF9F6FF*/ #474747;">
    <div class="columns content">
        <div class="content-container">
            <h1><span><i class="fa-solid fa-paper-plane" style="color: /*#666666*/ #EC008C; margin-right: 0.5rem;"></i></span>Opening Hours</h1>
            <div class="overairD" style="margin-bottom: 0.5rem;"></div>
            <table>
                <tr>
                    <th>Day</th>
                    <th>Hours</th>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>9:30am - 5pm</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>9:30am - 5pm</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>9:30am - 5pm</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>9:30am - 5pm</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>9:30am - 5pm</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Bank Holidays</td>
                    <td>Closed</td>
                </tr>
            </table>
            <br />
            <p>
                We're always willing to help out with any queries! Either will out the email form to the right of you or you can come by and have a chat with us. You're also able to give us a ring and book an appoitment.
            </p>
            <p>
                We don't share any of your personal / sensitive information to third parties, all your information is safe with us.
            </p>
            <!--
            <p style="margin-top: 0.5rem;">
                <span><i class="fa-solid fa-star" style="color: rgb(247, 224, 23); margin-right: 0.5rem;"></i>Closed Bank Holidays</span>
            </p>
            -->
        </div>
    </div>
    <div class="columns content" id="userBook">
        <div class="content-container">
            <h1><span><i class="fa-solid fa-calendar" style="margin-right: 0.5rem; color: /*#666666*/ #fff;"></i></span>Contact Us</h1>
            
            <form id="form" action="https://formspree.io/f/xoqrbeky" method="post">
                <div class="overairD"></div>
                <input type="hidden" name="_captcha" value="false"/> <!-- Disables reCAPTCHA -->

                <div class="form-control text-center">
                    <input id="name" type="text" placeholder="Name" name="Name" />
                    <small style="display: none;">Error Msg</small>
                </div>

                <div class="form-control text-center">
                    <input id="email" type="email" placeholder="Email" name="Email"/>
                    <small style="display: none;">Error Msg</small>
                </div>

                <div class="form-control text-center">
                    <textarea id="message" type="text" placeholder="Message" rows="2" cols="25" name="Message"></textarea>
                    <!--<input id="message" type="text" placeholder="Message" name="Message"/>-->
                    <small style="display: none;">Error Msg</small>
                </div>
 
                <button class="btn2" type="submit">
                    <span class="btnspan2">Submit</span>
                </button>
            </form>
            <br/>
            <p>
                <span><i class="fa-solid fa-phone" style="color: #EC008C; margin-right: 0.5rem;"></i>Phone Number - 07577 607224</span>
            </p>
            <p>
                <span><i class="fa-solid fa-at" style="color: #EC008C; margin-right: 0.5rem;"></i>Email Address - info@overair.co.uk</span>
            </p>
            <p>
                <span><i class="fa-solid fa-location-dot" style="color: rgb(254, 3, 0); margin-right: 0.5rem;"></i><a href="https://www.google.com/maps/place/Southernhay+W,+Exeter+EX1+1PJ/50.7226905,-3.5280412,243m/data=!3m1!1e3!4m5!3m4!1s0x486da43c5160fc15:0xcdf1d91f520ff4f9!8m2!3d50.7226747!4d-3.5272591" target="_blank" style="color: #EC008C !important;">Overair Digital</a> - Lower Ground Floor, 18 Southernhay West, Exeter - EX1 1PJ</span>
            </p>
        </div>
    </div>
</div>
<!--
<div class="footerr flex">
    <ul>
        <li>
            <a href="#"><span><i class="fa-brands fa-instagram fa-3x"></i></span></a>
        </li>
        <li>
            <a href="#"><span><i class="fa-brands fa-youtube fa-3x" style="color: rgb(255, 2, 0);"></i></span></a>
        </li>
        <li>
            <a href="#"><span><i class="fa-brands fa-github-alt fa-3x" style="color: rgb(22, 27, 34);"></i></span></a>
        </li>
        <li>
            <a href="#"><span><i class="fa-brands fa-twitter fa-3x" style="color: rgb(31, 161, 241)"></i></span></a>
        </li>
    </ul>
</div>
-->
</body>
</html>

<!--
<a href="https://www.freepik.com/vectors/wave-illustration">Wave illustration vector created by rawpixel.com - www.freepik.com</a>
https://generator.opendoodles.com/
<i class="fa-solid fa-calendar"></i>

            <h1><i class="fa-solid fa-money-bill" style="margin-right: 0.5rem; color: #216515;"></i>Pricing</h1>

-->