@{
    ViewData["Title"] = "";
}
<html lang="en">
<head>
    <title>#</title>
</head>

<body>
<div class="bg">
    <div class="text-center fontWhite">
        <h2>Websites or apps, all available to aquire in one location!</h2>
        <h1>Get it, because you can.</h1>
        <br/>
        <div class="flex">
            <a href="#">
                <button class="btn">
                    <span class="btnspan">Book An Appoitment</span>
                </button>
            </a>
        </div>
    </div>
</div>

<div class="subHeader1">
    <div class="text-center fontWhite">
        <div>
            <h1 class="headerDown">What can we offer you?</h1>
            <h2>To be honest with you, anything which involves apps or websites.</h2>
            <h3>We can do without a problem.</h3>
        </div>
    </div>
</div>

<div class="mainPageTopper">
    <div class="text-center iconUp">
        <span><i class="fa-solid fa-arrow-down fa-10x"></i></span>
    </div>
</div>

<div class="section-container fontWhite">
    <div class="columns content">
        <div class="content-container">
            <h1 class="apple"><span><i class="fa-brands fa-apple" style="padding-right: 0.5rem;" onmouseout="onMouseOut();" onmouseover="onMouseOver();"></i></span>Apple Apps</h1>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
        </div>
    </div>
    <div class="columns image" style="background-image:url('bgTextures/BalletDoodle.svg')">
    </div>
</div>

<div class="section-container a fontBlack">
    <div class="columns image" style="background-image:url('bgTextures/CoffeeDoddle.svg'); background-color: rgb(250, 249, 246)">
    </div>
    <div class="columns content">
        <div class="content-container" style="background-color: rgb(250, 249, 246);">
            <h1 class="android"><span><i class="fa-brands fa-android" style="color: rgb(46,223,132); padding-right: 0.5rem; position: relative; top: 5px;" onmouseout="onmouseOut();" onmouseover="onmouseOver();"></i></span>Android Apps</h1>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
        </div>
    </div>
</div>

<div class="section-container fontWhite">
    <div class="columns content">
        <div class="content-container">
            <h1 class="web"><span><i class="fa-brands fa-html5" style="color: rgb(235, 89, 40); padding-right: 0.5rem;" onmouseout="OnMouseOut();" onmouseover="OnMouseOver();"></i></span>Websites</h1>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
        </div>
    </div>
    <div class="columns image" style="background-image:url('bgTextures/MeditatingDoodle.svg')">
    </div>
</div>
</body>

</html>

<!--
<a href="https://www.freepik.com/vectors/wave-illustration">Wave illustration vector created by rawpixel.com - www.freepik.com</a>
https://generator.opendoodles.com/
-->