@{
    ViewData["Title"] = "";
}

<div class="headerTxt text-center fontWhite">
    <h1 class="display-3">Need an app or a website?</h1>
    <h2 class="display-4">You've arrived to the correct place!</h2>
    <p>Learn about</p>
</div>

