@{
    ViewData["Title"] = "";
}
<html lang="en">
<head>
    <title>#</title>
</head>

<body>
<div class="section-container" style="background-image:url('Images/bg2.jpg'); background-position: center; background-size: cover; height: 650px;">
    <div class="columns image"></div>
    <div class="columns content">
        <div class="fontWhite text-center">
            <div style="padding-top: 15rem;">
                <h2 class="h2Diff">Bespoke App and Web Development</h2>
                <h1 class="h1Diff">[ Overair Digital ]</h1>
                <br />
                <div class="flex">  
                    <a href="#userBook">
                        <button class="btn">
                            <span class="btnspan">Get In Touch</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="section-container fontWhite" style="background-color: #474747;">
    <div class="columns content">
        <div class="content-container">
            <h1><span><i class="fa-brands fa-html5" style="color: rgb(235, 89, 40); padding-right: 0.5rem;"></i></span>Websites</h1>
            <div class="android"></div>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
            </p>
        </div>
    </div>
</div>
-->
<div class="subHeader1">
    <div class="text-center fontWhite">
        <h1 class="headerDown" style="font-size: 48px; font-weight: 1000;">We're not just great with Macs, we're also great with Apps.</h1>
        <h2>New. Fresh. Handcrafted.</h2>
    </div>
</div>

<div class="mainPageTopper">
    <div class="text-center iconUp arrow">
        <span><i class="fa-solid fa-arrow-down fa-8x"></i></span>
    </div>
</div>

<div class="section-container fontBlack" style="background-color: #FAF9F6FF;">
    <div class="columns content">
        <div class="content-container">
            <h1><span><i class="fa-brands fa-apple" style="padding-right: 0.5rem; color: #666666;"></i></span>Apps</h1>
            <div class="apple"></div>
            <h2 style="margin-top: 0.5rem;">
                Beautiful and functional, our Apps will put your brand directly into the pockets of your customers. 
            </h2>
            <p>
                In 2021 there were 6.4 billion mobile Apps downloaded in Europe, with a total spend of £2.76 billion in the UK alone. These staggering figures show a bountiful market that has a place for you and your business.
            </p>
            <p>
                Your App can do everything from manage customers bookings and appointments, order food, shop, manage product orders, share photos, create blogs or even run competitions, the possibilities are limitless. 
            </p>
            <p>
                Our gifted team of developers and designers will create you a hand-built, bespoke solution that is tailored for you and your needs.
            </p>
        </div>
    </div>
    <div class="columns image" id="floatDoodle" style="background-image:url('3dImages/Other 04.png')">
    </div>
</div>

<div class="mainPageTopper2"></div>

<div class="section-container fontWhite" style="background-color: #474747;">
    <div class="columns image" id="meditateDoodle" style="background-image:url('3dImages/Other 07.png');">
    </div>
    <div class="columns content">
        <div class="content-container">
            <h1><span><i class="fa-solid fa-globe" style="color: #EC008C; padding-right: 0.5rem;"></i></span>Websites</h1>
            <div class="android"></div>
            <h2 style="margin-top: 0.5rem;">
                There's no WordPress Here.
            </h2>
            <p>
                Your website is the face of your business and it deserves to be fantastic. 
            </p>
            <p>
                Our bespoke solutions and integrated systems not only get you looking better than the competition, but also functioning better too.
            </p>
            <p>
                Overair’s talented developers design your project from the ground up, building modular, cost effective sites that can be expanded as you grow. They can include everything from; booking systems, online shops, contact forms and even customer databases.
            </p>
            <p>
                We love new projects so why not share your idea with us?
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card__header">
            <img loading="lazy" src="Images/pexels-anna-shvets-5614114.jpg" alt="card__image" class="card__image" width="600">
        </div>
        <div class="card__body">
            <span class="tag tag-blue text-center">Package 1</span>
            <br/>
            <h2 class="text-center gradientText">£1999</h2>
            <p><i class="fa-solid fa-circle-check fa-1x" style="color: rgb(46, 223, 132); margin-right: 0.5rem;"></i>Branded Bespoke Website</p>
            <p><i class="fa-solid fa-circle-check fa-1x" style="color: rgb(46, 223, 132); margin-right: 0.5rem;"></i>Contact Form</p>
            <p><i class="fa-solid fa-circle-check fa-1x" style="color: rgb(46, 223, 132); margin-right: 0.5rem;"></i>Basic Animations</p>
            <p><i class="fa-solid fa-circle-check fa-1x" style="color: rgb(46, 223, 132); margin-right: 0.5rem;"></i>Domain + Security Certificate</p>
            <p><i class="fa-solid fa-circle-xmark fa-x1" style="color: rgb(254, 3, 0); margin-right: 0.5rem;"></i>Technical Features</p>
            <p><i class="fa-solid fa-circle-xmark fa-x1" style="color: rgb(254, 3, 0); margin-right: 0.5rem;"></i>Databases</p>
            <p><i class="fa-solid fa-circle-xmark fa-x1" style="color: rgb(254, 3, 0); margin-right: 0.5rem;"></i>API - Integration</p>
        </div>
    </div>

    <div class="card">
        <div class="cardHeader">
            <img loading="lazy" src="Images/pexels-daria-shevtsova-1467435.jpg" alt="card image" class="card__image" width="600">
        </div>
        <div class="card__body">
            <span class="tag tag-brown text-center">Package 2</span>
            <br/>
            <h2 class="text-center gradientText">£4499</h2>
            <p><i class="fa-solid fa-circle-check fa-1x" style="color: rgb(46, 223, 132); margin-right: 0.5rem;"></i>Multiple Pages</p>
            <p><i class="fa-solid fa-circle-check fa-1x" style="color: rgb(46, 223, 132); margin-right: 0.5rem;"></i>Contact Form</p>
            <p><i class="fa-solid fa-circle-check fa-1x" style="color: rgb(46, 223, 132); margin-right: 0.5rem;"></i>Animation Features</p>
            <p><i class="fa-solid fa-circle-check fa-1x" style="color: rgb(46, 223, 132); margin-right: 0.5rem;"></i>Domain + Security Certificate</p>
            <p><i class="fa-solid fa-circle-check fa-1x" style="color: rgb(46, 223, 132); margin-right: 0.5rem;"></i>Technical Features</p>
            <p><i class="fa-solid fa-circle-check fa-1x" style="color: rgb(46, 223, 132); margin-right: 0.5rem;"></i>Databases</p>
            <p><i class="fa-solid fa-circle-check fa-1x" style="color: rgb(46, 223, 132); margin-right: 0.5rem;"></i>API - Integration</p>
        </div>
    </div>
</div>

<form id="form" action="https://formspree.io/f/xoqrbeky" method="post">
    <div class="section-container fontWhite" style="background-color: #474747;">
        <div class="columns content">
            <div class="content-container">
                <h1><span><i class="fa-solid fa-lightbulb" style="color: #EC008C; margin-right: 0.5rem;"></i></span>Tell us more</h1>
                <div class="overairD" style="margin-bottom: 0.5rem;"></div>

                <div class="form-control text-center">
                    <input id="name" type="text" placeholder="Name *" name="Name"/>
                    <small style="display: none;">Error Msg</small>
                </div>

                <div class="form-control text-center">
                    <input id="email" type="email" placeholder="Email *" name="Email"/>
                    <small style="display: none;">Error Msg</small>
                </div>

                <div class="form-control text-center">
                    <input id="company" type="text" placeholder="Company" name="Company" />
                    <small style="display: none;">Error Msg</small>
                </div>
                <p>* - Required</p>
            </div>
        </div>
        
        <div class="columns content" id="userBook">
            <div class="content-container">
                <div style="display: none;">
                    <h1><span><i class="fa-solid fa-lightbulb" style="color: #EC008C; margin-right: 1.5rem;"></i></span>Tell us more about your idea</h1>
                    <div class="overairD" style="margin-bottom: 0.5rem;"></div>
                </div>
                <input type="hidden" name="_captcha" value="false"/> <!-- Disables reCAPTCHA -->

                <div class="form-control text-center">
                    <input id="url" type="text" placeholder="Your website URL" name="URL"/>
                    <small style="display: none;">Error Msg</small>
                </div>
                
                <div class="form-control text-center">
                    <textarea id="message" type="text" placeholder="Message *" rows="5" cols="25" name="Message"></textarea>
                    <!--<input id="message" type="text" placeholder="Message" name="Message"/>-->
                    <small style="display: none;">Error Msg</small>
                </div>
                <br/>
                <button class="btn2" type="submit">
                    <span class="btnspan2">Submit</span>
                </button>
            </div>
        </div>
    </div>
</form>
</body>
</html>

<!--
<a href="https://www.freepik.com/vectors/wave-illustration">Wave illustration vector created by rawpixel.com - www.freepik.com</a>
https://generator.opendoodles.com/
<i class="fa-solid fa-calendar"></i>

<h1><i class="fa-solid fa-money-bill" style="margin-right: 0.5rem; color: #216515;"></i>Pricing</h1>
<i class="fa-solid fa-circle-xmark"></i>

style="background-image:url('bgTextures/Dot Grid.svg'); background-repeat: no-repeat;"

-->